@using Coursework.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Coursework.Models.DTOs.ExerciseDto

@{
    ViewData["Title"] = $"Задание {Model.Name}";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">@Model.Name</h1>
                </div>
                <div class="card-body">
                    <!-- Основные параметры -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Сложность:</strong> @Model.Difficulty?.Name
                        </li>
                        <li class="list-group-item">
                            <strong>Очки:</strong> @Model.Score
                        </li>
                        <li class="list-group-item">
                            <strong>Язык программирования:</strong> @Model.Language?.Name
                        </li>
                        <li class="list-group-item">
                            <strong>Фреймворки:</strong> @string.Join(", ", Model.Frameworks.Select(f => f.Name))
                        </li>
                        <li class="list-group-item">
                            <strong>Автор:</strong> <partial name="_AuthorLink" model="@Model.Author" />
                        </li>
                        <li class="list-group-item d-flex justify-content-end align-items-center">
                            <span class="me-2">@Model.LikedByUsers.Count</span>
                            @if (User.GetId() == Model.AuthorId)
                            {
                                <button type="button" class="btn btn-link p-0 text-secondary" disabled>
                                    <i class="bi bi-heart-fill" style="font-size: 1.5rem;"></i>
                                </button>
                            }
                            else
                            {
                                @if (Model.IsLikedByCurrentUser)
                                {
                                    <form method="post" asp-controller="Exercises" asp-action="Unlike" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path">
                                        <button type="submit" class="btn btn-link p-0">
                                            <i class="bi bi-heart-fill text-danger" style="font-size: 1.5rem;"></i>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-controller="Exercises" asp-action="Like" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path">
                                        <button type="submit" class="btn btn-link p-0">
                                            <i class="bi bi-heart" style="font-size: 1.5rem;"></i>
                                        </button>
                                    </form>
                                }
                            }
                        </li>
                    </ul>

                    <!-- Короткое описание -->
                    <div class="mt-4">
                        <h5 class="text-muted">Описание:</h5>
                        <p>@Model.ShortDescription</p>
                    </div>

                    <!-- Полное описание -->
                    <div class="mt-4">
                        <h5 class="text-muted">Задание:</h5>
                        <p style="white-space: pre-wrap;">@Model.FullDescription</p>
                    </div>
                    
                    <!-- Подсказки -->
                    <div class="mt-4">
                        <h5 class="text-muted">Подсказки:</h5>
                        <div class="accordion" id="hintsAccordion">
                            @foreach (var hint in Model.Hints)
                            {
                                var isHintOpened = hint.OpenedByUsers.Any(u => u.Id == User.GetId()) || User.GetId() == Model.AuthorId;
                                var buttonClass = isHintOpened ? "" : "disabled";
                                var headerClass = isHintOpened ? "" : "hide-accordion-arrow";
                                
                                <div class="accordion-item">
                                    <h2 class="accordion-header d-flex @headerClass" id="heading-@hint.Id">
                                        <button class="accordion-button collapsed @buttonClass"
                                                type="button"
                                                data-bs-toggle="@(isHintOpened ? "collapse" : "")"
                                                data-bs-target="#collapse-@hint.Id"
                                                aria-expanded="false"
                                                aria-controls="collapse-@hint.Id">
                                            Подсказка за @hint.Cost очков
                                            @if (!isHintOpened)
                                            {
                                                <form method="post" asp-controller="Exercises" asp-action="OpenHint" 
                                                      asp-route-id="@hint.Id" asp-route-exerciseId="@Model.Id">
                                                    <button type="submit" style="width: 180px;" class="btn btn-sm btn-primary rounded-pill align-self-center me-3">
                                                        Открыть подсказку
                                                    </button>
                                                </form>
                                            }
                                        </button>
                                    </h2>
                                    <div id="collapse-@hint.Id"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="heading-@hint.Id">
                                        <div class="accordion-body">@if (isHintOpened){@hint.Text}
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["ErrorMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body d-flex justify-content-between flex-row">
                    <h4>Решение автора</h4>
                    <a class="btn btn-primary btn rounded-pill"
                       asp-controller="Solution"
                       asp-action="View"
                       asp-route-id="@Model.AuthorSolutionId">Посмотреть</a>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-header">
                    <h4 class="card-title text-center">Решения</h4>
                </div>
                <div class="card-body">
                    @if (Model.Solutions.Any())
                    {
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Автор</th>
                                <th scope="col" class="text-end">
                                    @if (User.GetId() == Model.AuthorId)
                                    {
                                        <span style="white-space: nowrap;">Вы автор, вы не можете загрузить решение на своё же задание.</span>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btn-sm rounded-pill"
                                           asp-controller="Solution"
                                           asp-action="Create"
                                           asp-route-id="@Model.Id">
                                            Загрузить решение
                                        </a>
                                    }
                                </th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            @foreach (var solution in Model.Solutions)
                            {
                                <tr>
                                    <td><partial name="_AuthorLink" model="@solution.Author" /></td>
                                    <td class="text-end">
                                        <form method="post"
                                              asp-controller="Solution"
                                              asp-action="Delete"
                                              asp-route-id="@solution.Id"
                                              onsubmit="return confirm('Вы уверены, что хотите удалить этот упражнение?');">
                                            <div class="btn-group rounded-pill">
                                                <a class="btn btn-sm btn-primary"
                                                   asp-controller="Solution"
                                                   asp-action="View"
                                                   asp-route-id="@solution.Id">Посмотреть</a>
                                                @if (User.GetId() == solution.AuthorId || User.IsInRole("Администратор"))
                                                {
                                                    <a class="btn btn-sm btn-secondary"
                                                       asp-controller="Solution"
                                                       asp-action="Update"
                                                       asp-route-id="@solution.Id">Редактировать</a>
                                                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                                                }
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="text-center">Для этого задания еще нет решений</p>
                        @if (User.GetId() != Model.AuthorId)
                        {
                            <div class="text-center mt-3">
                                <a class="btn btn-primary rounded-pill"
                                   asp-controller="Solution"
                                   asp-action="Create"
                                   asp-route-id="@Model.Id">
                                    Загрузить решение
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>