@model Coursework.Models.Entities.ProgrammingLanguage

@{
    ViewData["Title"] = "Список языков программирования";
}

<div class="text-center">
    <h1 class="display-4">Языки программирования</h1>
</div>

<div class="container">
    <div class="d-grid d-md-flex justify-content-md-end">
        <a 
            class="btn btn-primary rounded-pill"
            style="width: 200px;"
            asp-controller="ProgrammingLanguages"
            asp-action="Create">Добавить</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col" class="text-end"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        @foreach (var language in ViewBag.Languages)
        {
            <tr data-bs-toggle="tooltip" title="@language.Description">
                <th scope="row">@language.Id</th>
                <td>@language.Name</td>
                <td class="text-end">
                    <form 
                        method="post" 
                        asp-controller="ProgrammingLanguages" 
                        asp-action="Delete" 
                        asp-route-id="@language.Id"
                        onsubmit="return confirm('Вы уверены, что хотите удалить этот язык программирования?');">
                        <div class="btn-group rounded-pill">
                            <a class="btn btn-sm btn-secondary"
                               asp-controller="ProgrammingLanguages"
                               asp-action="Update"
                               asp-route-id="@language.Id">Редактировать</a>
                            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                        </div>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>